body {

	font-family: 'Roboto', sans-serif;

}

#card {

	border: 0.5px solid #838b8b;
	border-radius: 10px;
	height: 630px;
	width: 300px;
	box-shadow: 7px 7px 6px 0 rgba(153,153,153,0.42);
	margin: auto;
	background: #fffff4;
	padding: 5px 20px;

}

div {

	border: 0.5px solid #838b8b;
	padding-bottom: 5px;
	padding-top: 5px;

}

.name {

	font-size: 20px;
  padding-bottom: 10px;

}

img {

	width: 300px;
	padding-bottom: 20px;

}

.fact {

	font-style: italic;
  font-size: 12px;

}

.bold {

  font-weight: bold;

}

ul {

	list-style-type: none;
	padding: 5px 10px;
	font-size: 12px;

}

p {

	padding: 5px 10px;
	font-size: 12px;

}
